.page {
  color: black;
}

.button {
  background-color: #2db6c0;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #24949c;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
